<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/pico.cyan.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js"></script>
</head>

<body>
    {{ template "header" . }}
    <main class="container">
        {{ block "content" . }}{{ end }}
    </main>
    {{ template "footer" . }}
</body>

</html>